.mute-button {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
  }
  
  .mute-button.muted {
    background-image: url("../../../assets/img/Sound_active.png"); /* Unmute image */
  }
  
  .mute-button:not(.muted) {
    background-image: url("../../../assets/img/Sound_inactive.png"); /* Mute image */
  }