.help-image-button {
    background-image: url("../../../assets/img/RULES.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 133px;
    height: 123px;
  }