
.popup-overlay {
  position: absolute;
  top: 0;
  left: 10vw;
  display: flex;
  width: 510px;
  height: 410px;
  border-radius: 20px;
  background: linear-gradient(to bottom,#FFE600, black, #FFE600);
  color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  /* Popup container styles */
.popup-content-container {
  width: 500px;
  height: 400px;
  margin: auto 5px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #000670;
  overflow: hidden;
}
  
  /* Optional: close button styling */
.popup-content-container button {
  position: absolute;
  top: 5px;
  right: 5px;
}
  