.login-container {
    position: absolute;
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .login-button {
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 0; /* Remove padding */
  }
  
  .signout-icon {
    width: 130px; /* Adjust the size of the icon */
    height: 40px;
    vertical-align: middle; /* Align the icon vertically */
  }