.Gradient {
    position: fixed;
    top: 90px;
    right: 100px;
    display: flex;
    width: 257px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(to bottom,#FFE600, black, #FFE600);
}

.Login_box {
    top: 100px;
    display: flex;
    width: 245px;
    height: 41px;
    margin: auto 5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000670;
}

