#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative; /* Ensure the root container is positioned */
}

.Reward {
  top: -400px; /* Adjust the top position as needed to place it under the main logo */
  left: 10%;
  transform: translateX(-50%); /* Center the buttons horizontally */
  display: flex;
  flex-direction: column; /* Align buttons in a column */
  align-items: center; /* Center buttons horizontally */
}
